{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if diseño %}{% for i in diseño %}{{i.titulo}}{% endfor %}{% endif %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static 'css/gallery-grid.css' %}">


</head>
<body>

  <div class="container gallery-container">

      <h1>Galeria de {% if diseño %}{% for i in diseño %}{{i.titulo}}{% endfor %}{% endif %}</h1>

      <p class="page-description text-center"></p>
      
      <div class="tz-gallery">
          <div class="row">
              {% for o in obj %}
                  <div class="col-sm-6 col-md-4">
                      <a class="lightbox" href="{{o.imagen.url}}">
                          <img src="{{o.imagen.url}}" alt="Park">
                      </a>
                  </div>
              {% endfor %}
          </div>
      </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed; top:0; width:100%;">
      <a class="navbar-brand" href="{% url 'home' %}">
        {% if diseño %}
            {% for i in diseño %}
                {{i.titulo}}
            {% endfor %}
        {% endif %}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'galeria' %}">Galeria</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Servicios
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'corte' %}">Corte</a>
            </div>
          </li>

          {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="#">Hola {{user.username}}!</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
          {% else %}
             <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Registro</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">LogIn</a>
              </li>
          {% endif %}
        </ul>
      </div>
    </nav>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
  <script>
      baguetteBox.run('.tz-gallery');
  </script>
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>