<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  {% for i in carrucel %}
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="{{ i.img1.url }}" height="300" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{ i.img2.url }}" height="300" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{ i.img3.url }}" height="300" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{ i.img4.url }}" height="300" class="d-block w-100" alt="...">
      </div>
    </div>
  {% endfor %}
</div>